root = true

[*.cs]

# ---------------------------
# Naming conventions
# ---------------------------

# Private fields must be _camelCase
dotnet_naming_rule.private_fields_rule.severity = warning
dotnet_naming_rule.private_fields_rule.symbols = private_fields
dotnet_naming_rule.private_fields_rule.style = underscore_camel_case

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.underscore_camel_case.required_prefix = _
dotnet_naming_style.underscore_camel_case.capitalization = camel_case


# ---------------------------
# Formatting
# ---------------------------

csharp_prefer_braces = true:warning
dotnet_sort_system_directives_first = true:warning


# ---------------------------
# Unused imports
# ---------------------------

dotnet_diagnostic.IDE0005.severity = warning


# ---------------------------
# Complexity
# ---------------------------

dotnet_diagnostic.CA1502.severity = warning
